In [5]:
import pandas as pd

path = '../bicycle/sample_NoNA.csv'

df = pd.read_csv(path, encoding='cp949')

In [6]:
df.describe()

              cty          hwy
count  226.000000   229.000000
mean    29.588496   115.135371
std    112.855084   932.040957
min    -50.000000    12.000000
25%     14.000000    18.000000
50%     17.000000    25.000000
75%     19.000000    28.000000
max    999.000000  9999.000000