In [18]:
'''Pandas에서 제공하는 데이터 자료구조는 Series와 Dataframe 두가지가 존재하는데 Series는 시계열과 유사한 데이터로서 index와 value 가 존재하고
Dataframe은 딕셔너리데이터를 매트릭스 형태로 만들어 준 것과 같은 frame 을 가지고 있다. 이런 데이터 구조를 통해 시계열, 비시계열 데이터를 통합하
여 다룰 수 있고 이를 좀더 자세히 살펴보자.'''

In [19]:
#### import
from pandas import Series, DataFrame
import pandas as pd
#### series
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
print(fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [22]:
print(fruit.values)
print(fruit.index)

[2500 3800 1200 6000]
Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [23]:
'''Series의 형태는 딕셔너리와 매우 유사하여 key 가 index로 바뀌었다고 
착각할 수 있지만 사실상 데이터 구조 자체가 매우 다르기 때문에 딕셔너
리에서 사용하는 방식이 조금씩 다르기 때문에 주의해야 한다.'''

pandas.core.series.Series

In [24]:
#### Seires( )
fruitData = {'apple': 2500,'banana':3800,'peer':1200,'cherry':6000}
fruit = Series(fruitData)
type(fruitData)
type(fruit)

pandas.core.series.Series

In [38]:
#### name
fruit = Series([2500, 3800, 1200, 6000], index=['apple', 'banana', 'peer', 'cherry'])
fruit.name = 'fruitPrice'
fruit.index.name = 'F_Name    Price'
print(fruit)

F_Name    Price
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [41]:
### DataFrame

Data = {'fruitName':['apple','banana','cherry','peer'],
'fruitPrice':[2500,3800,6000,1200],
'num':[10,5,3,8]}
fruitFrame =DataFrame(Data)
print(fruitFrame)

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

In [43]:
### 컬럼 순서 지정하기
fruitFrame = DataFrame(fruitData, columns = ['fruitPrice','num','fruitName'])
print(fruitFrame)

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      peer

In [44]:
## 특정 column 추출, 사전형식
fruitFrame['fruitName']

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [45]:
## 특정 column 추출, 속성형식
fruitFrame.fruitName

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [48]:
## 컬럼 추가하기

fruitFrame['year'] = 2016,2015,2011,2020
print(fruitFrame)

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2016    4.0
1        3800    5    banana  2015    NaN
2        6000    3    cherry  2011    2.0
3        1200    8      peer  2020    1.0

In [47]:
### 컬럼 추가하기 - 다른 값
variable=Series([4,2,1],index=[0,2,3])
fruitFrame['stock'] = variable
print(fruitFrame)

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2016    4.0
1        3800    5    banana  2016    NaN
2        6000    3    cherry  2016    2.0
3        1200    8      peer  2016    1.0

In [52]:
### Series 데이터 row 삭제하기 drop()

fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
new_fruit = fruit.drop('banana')
print(fruit)
print("\n")
print(new_fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64


apple     2500
peer      1200
cherry    6000
dtype: int64

In [ ]:
## Dataframe column 행 삭제하기
# Dataframe 의 인자에 index를 추가하면 원하는 index값을 지정 할 수 있다.
# index는 columns와 다르게 DataFrame을 만들고자 하는 데이터에서 가져올 수 없고 따로 객체가 존재해야 한다.

In [60]:
# Dataframe column 삭제하기
fruitData = {'fruitName':['apple','banana','cherry','peer'],
'fruitPrice':[2500,3800,6000,1200],
'num':[10,5,3,8]}

fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index = fruitName,columns=['fruitPrice','num'])

fruitFrame2=fruitFrame.drop(['apple','cherry'])
print(fruitFrame)
print("\n")
print(fruitFrame2)

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8


        fruitPrice  num
banana        3800    5
peer          1200    8

In [ ]:
## Dataframe column 열 삭제하기
# row삭제와 마찬가지로 여러 개의 컬럼을 삭제하려면 [‘num’,’fruitPrice’]처럼 리스트형태로 값을 지정하면 된다.

In [66]:
fruitFrame3 = fruitFrame.drop( ['num','fruitPrice'],axis=1)
print(fruitFrame)
print("\n")
print(fruitFrame3)

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8


Empty DataFrame
Columns: []
Index: [apple, banana, cherry, peer]

In [68]:
# Series항목 추축하기 slice
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
fruit['apple':'peer']

apple     2500
banana    3800
peer      1200
dtype: int64

In [73]:
# df 의 slice
Data = {'fruitName':['apple','banana','cherry','peer'],
        'fruitPrice':[2500,3800,6000,1200],
        'num':[10,5,3,7]}
fruitName=Data['fruitName']
fruitName= DataFrame(Data,index = fruitName,columns=['fruitPrice','num'])
print(fruitFrame)
print("\n")
fruitFrame['fruitPrice']
fruitFrame['apple':'banana']

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8

        fruitPrice  num
apple         2500   10
banana        3800    5