In [1]:
import pandas as pd

path = 'academy_count.csv'


df = pd.read_csv(path, encoding='cp949')

df

      구명  초등학교   초등학생  유치원  유치원생
0    강남구    33  19797   37  3260
1    강동구    29  12446   35  4237
2    강북구    14   7296   18  1244
3    강서구    35  22466   54  5375
4    관악구    22  10987   33  2991
5    광진구    22  10363   31  2470
6    구로구    27  12284   32  2905
7    금천구    18   6354   18  1550
8    노원구    42  16412   62  5872
9    도봉구    23   8941   27  2252
10  동대문구    21   9911   29  2849
11   동작구    21  11722   32  2846
12   마포구    22  12877   25  2784
13  서대문구    19  10365   23  2371
14   서초구    24  17933   26  2467
15   성동구    21   9950   28  2110
16   성북구    29  13541   47  4346
17   송파구    41  25343   50  5355
18   양천구    30  17603   39  4150
19  영등포구    24  10679   37  3410
20   용산구    15   6231   13  1344
21   은평구    31  14697   42  3551
22   종로구    13   4069   17  1180
23    중구    12   3151   14  1038
24   중랑구    23  10521   29  2700

In [2]:
# CSV 파일로 저장하기

#df.to_csv('School.csv', mode='a', header=True, encoding='cp949')

#