In [1]:
import pandas as pd

In [22]:
data = {'key1':['a','b','b','b','c','c',],
       'key2':['v', 'w', 'w', 'x', 'y','y'],
        'col':[1,2,3,4,5,6]}


df = pd.DataFrame(data, columns=['key1','key2','col'])

df

  key1 key2  col
0    a    v    1
1    b    w    2
2    b    w    3
3    b    x    4
4    c    y    5
5    c    y    6

In [23]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [24]:
df.duplicated(['key1'])

0    False
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [25]:
df.duplicated(['key1','key2'])

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [26]:
df

  key1 key2  col
0    a    v    1
1    b    w    2
2    b    w    3
3    b    x    4
4    c    y    5
5    c    y    6

In [27]:
df.duplicated(['key1'])

0    False
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [29]:
df.duplicated(['key1'], keep='last')

0    False
1     True
2     True
3    False
4     True
5    False
dtype: bool

In [30]:
df.duplicated(['key1'], keep=False)

0    False
1     True
2     True
3     True
4     True
5     True
dtype: bool

In [32]:
df.drop_duplicates()

  key1 key2  col
0    a    v    1
1    b    w    2
2    b    w    3
3    b    x    4
4    c    y    5
5    c    y    6

In [34]:
df.drop_duplicates(['key1','key2'])

  key1 key2  col
0    a    v    1
1    b    w    2
3    b    x    4
4    c    y    5