In [109]:
import pandas as pd

path = 'Seoul_school.csv'


df = pd.read_csv(path, encoding='cp949')

df

,학교종류명,설립구분,표준학교코드,학교명,영문학교명,관할조직명,도로명우편번호,도로명주소,도로명상세주소,전화번호,...,주야구분명,설립일자,개교기념일,시도교육청코드,시도교육청명,소재지명,주야과정,계열명,학과명,적재일시
0,각종학교(중),사립,7134155,선화예술중학교,Sunhwa Arts Middle School,서울특별시성동광진교육지원청,4991.0,서울특별시 광진구 천호대로 664,/ 선화예술중고등학교 (능동),02-2204-1100,...,주간,19731201,19730705,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20210602
1,초등학교,공립,7134150,서울숭신초등학교,Seoul Soongshin Elementary School,서울특별시성동광진교육지원청,4702.0,서울특별시 성동구 마장로 161,(하왕십리동),02-2252-5950,...,주간,19590403,19590403,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20210602
2,중학교,공립,7134142,행당중학교,Haengdang Middle School,서울특별시성동광진교육지원청,4764.0,서울특별시 성동구 왕십리로 189,(행당동/행당중학교),02-2292-2721,...,주간,19680806,19681002,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20210602
3,중학교,사립,7134141,한양대학교사범대학부속중학교,Hanyang University Middle School,서울특별시성동광진교육지원청,4761.0,서울특별시 성동구 마조로 42,(사근동/한양사대부속중?고등학교),02-2200-3700,...,주간,19600118,19600118,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20210602
4,중학교,공립,7134140,자양중학교,Jayang Middle School,서울특별시성동광진교육지원청,5069.0,서울특별시 광진구 뚝섬로41길 33,(자양동/서울자양중학교),02-446-0365,...,주간,19840301,19840301,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20210602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3852,고등학교,국립,1371661,국립국악고등학교,Gukak National High School,교육부,6311.0,서울특별시 강남구 개포로22길 65,/ (개포동/ 국립국악고등학교),02-3460-0500,...,주간,19720711,19720909,B10,서울특별시교육청,서울특별시,주간,예술계,무용과,20210602
3853,특수학교,국립,1342102,한국우진학교,Hanguk Woojin School,교육부,3934.0,서울특별시 마포구 월드컵북로38길 21,/ 한국우진학교 (중동),02-6388-5800,...,주간,20000301,20000306,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20210602
3854,특수학교,국립,1342099,서울농학교,Seoul National school for the Deaf,교육부,3032.0,서울특별시 종로구 필운대로 103,(신교동),02-737-0659,...,주간,19130401,19130401,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20210602
3855,특수학교,국립,1342098,서울맹학교,Seoul National School for the Blind,교육부,3032.0,서울특별시 종로구 필운대로 97,(신교동),02-731-6772,...,주간,19130401,19130401,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20210602
3856,공동실습소,공립,0,경기기계공업고등학교부설공동실습소,NaN,서울특별시교육청,139869.0,서울특별시 노원구 공릉로 264,(하계동/경기기계공업고등학교),02-970-8922,...,주간,19820601,19820601,B10,서울특별시교육청,서울특별시,주간,기계공동실습소,공동실습소,20210602

In [110]:
# 컬럼명 보기
for col in df.columns:
    print(col)

학교종류명
설립구분
표준학교코드
학교명
영문학교명
관할조직명
도로명우편번호
도로명주소
도로명상세주소
전화번호
홈페이지주소
팩스번호
남녀공학구분명
고등학교구분명
산업체특별학급존재여부
고등학교일반실업구분명
특수목적고등학교계열명
입시전후기구분명
주야구분명
설립일자
개교기념일
시도교육청코드
시도교육청명
소재지명
주야과정
계열명
학과명
적재일시

In [111]:
# 필요한 컬럼만 뽑기,
# 학교명, 도로명주소(에서 '구'만 뽑기), 도로명상세주소

df_need = df[['학교명','도로명주소','도로명상세주소']]

In [112]:
df_need.head()

              학교명                도로명주소             도로명상세주소
0         선화예술중학교   서울특별시 광진구 천호대로 664    / 선화예술중고등학교 (능동)
1        서울숭신초등학교    서울특별시 성동구 마장로 161             (하왕십리동)
2           행당중학교   서울특별시 성동구 왕십리로 189         (행당동/행당중학교)
3  한양대학교사범대학부속중학교     서울특별시 성동구 마조로 42  (사근동/한양사대부속중?고등학교)
4           자양중학교  서울특별시 광진구 뚝섬로41길 33       (자양동/서울자양중학교)

In [113]:
# 컬럼명 변경하기

df_need.rename(columns={'도로명주소':'구'}, inplace=True)
df_need.rename(columns={'도로명상세주소':'주소'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [114]:
df_need.head()

              학교명                    구                  주소
0         선화예술중학교   서울특별시 광진구 천호대로 664    / 선화예술중고등학교 (능동)
1        서울숭신초등학교    서울특별시 성동구 마장로 161             (하왕십리동)
2           행당중학교   서울특별시 성동구 왕십리로 189         (행당동/행당중학교)
3  한양대학교사범대학부속중학교     서울특별시 성동구 마조로 42  (사근동/한양사대부속중?고등학교)
4           자양중학교  서울특별시 광진구 뚝섬로41길 33       (자양동/서울자양중학교)

In [115]:
df_need.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3857 entries, 0 to 3856
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학교명     3857 non-null   object
 1   구       3841 non-null   object
 2   주소      3841 non-null   object
dtypes: object(3)
memory usage: 90.5+ KB

In [116]:
df_need['구'] = df_need['구'].str.strip('%%구')

<ipython-input-116-341763472372>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need['구'] = df_need['구'].str.strip('%%구')

In [117]:
type(df_need['구'])

pandas.core.series.Series

In [118]:
df_need['구']

0          서울특별시 광진구 천호대로 664
1           서울특별시 성동구 마장로 161
2          서울특별시 성동구 왕십리로 189
3            서울특별시 성동구 마조로 42
4         서울특별시 광진구 뚝섬로41길 33
                ...
3852      서울특별시 강남구 개포로22길 65
3853    서울특별시 마포구 월드컵북로38길 21
3854       서울특별시 종로구 필운대로 103
3855        서울특별시 종로구 필운대로 97
3856        서울특별시 노원구 공릉로 264
Name: 구, Length: 3857, dtype: object

In [119]:
#  구만 뽑으려고 했는데 실패 ㅠ   서울특별시로 안되있는 것도 잇어서
# for new in df_need['구']:
#      str = new[5:10]
#         print(str)

In [120]:
# 이것도 실패...
# df_need['구'].str.split(" ", expand=True).head()

In [121]:
# 구만 딱 뽑아버리기!! 
df_need['구'].str.findall('\w+구').head(100)

0     [광진구]
1     [성동구]
2     [성동구]
3     [성동구]
4     [광진구]
      ...
95    [관악구]
96    [관악구]
97    [동작구]
98    [동작구]
99    [동작구]
Name: 구, Length: 100, dtype: object

In [122]:
df_need['구'].str.findall('\w+구').tail(100)

3757    [영등포구]
3758    [영등포구]
3759    [영등포구]
3760    [영등포구]
3761     [관악구]
         ...
3852     [강남구]
3853     [마포구]
3854     [종로구]
3855     [종로구]
3856     [노원구]
Name: 구, Length: 100, dtype: object

In [124]:
df_need['구'].isnull().sum()

16

In [126]:
df_gu = df_need['구'].str.findall('\w+구')

In [128]:
df_gu.isnull().sum()

16

In [129]:
df_need['구'] = df_gu

<ipython-input-129-f49da5c38cc3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need['구'] = df_gu

In [130]:
df_need['구'].isnull().sum()

16

In [131]:
df_need['구'].tail(20)

3837    [송파구]
3838    [송파구]
3839    [금천구]
3840    [금천구]
3841    [금천구]
3842    [금천구]
3843    [금천구]
3844    [금천구]
3845    [금천구]
3846    [금천구]
3847    [금천구]
3848    [금천구]
3849    [금천구]
3850    [강남구]
3851    [강남구]
3852    [강남구]
3853    [마포구]
3854    [종로구]
3855    [종로구]
3856    [노원구]
Name: 구, dtype: object

In [133]:
df_need.head(20)

                 학교명      구                        주소
0            선화예술중학교  [광진구]          / 선화예술중고등학교 (능동)
1           서울숭신초등학교  [성동구]                   (하왕십리동)
2              행당중학교  [성동구]               (행당동/행당중학교)
3     한양대학교사범대학부속중학교  [성동구]        (사근동/한양사대부속중?고등학교)
4              자양중학교  [광진구]             (자양동/서울자양중학교)
5              용곡중학교  [광진구]               (중곡동/용곡중학교)
6              옥정중학교  [성동구]             / 옥정중학교 (옥수동)
7              양진중학교  [광진구]                   / 양진중학교
8              신양중학교  [광진구]             / 신양중학교 (자양동)
9              성원중학교  [성동구]            (성수동2가/ 성원중학교)
10             성수중학교  [성동구]            (성수동1가/ 성수중학교)
11             무학중학교  [성동구]                     (행당동)
12             마장중학교  [성동구]             / 마장중학교 (마장동)
13           대원국제중학교  [광진구]           / 대원국제중학교 (중곡동)
14             동마중학교  [성동구]                     (마장동)
15  동국대학교사범대학부속여자중학교  [광진구]  / 동국대학교사범대학부속여자중학교 (구의동)
16             구의중학교  [광진구]                     (화양동)
17             광희중학교  [성동구]             / 광희중학교 (응봉동)
18             광진중학교  [광진구]               (자양동/광진중학교)
19             광장중학교  [광진구]             / 광장중학교 (광장동)

In [134]:
# 동만 딱 뽑아버리기!! 
df_need['주소'].str.findall('\w+동').head(100)

0        [능동]
1     [하왕십리동]
2       [행당동]
3       [사근동]
4       [자양동]
       ...
95      [신림동]
96      [봉천동]
97      [상도동]
98      [대방동]
99      [흑석동]
Name: 주소, Length: 100, dtype: object

In [135]:
df_Dong = df_need['주소'].str.findall('\w+동')

In [136]:
df_Dong.isnull().sum()

16

In [137]:
df_need['주소'] = df_Dong

<ipython-input-137-3e3c89110ff5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_need['주소'] = df_Dong

In [138]:
df_need.shape

(3857, 3)

In [139]:
# 엑셀로 저장하기 
#df_need.to_excel(excel_writer='New_School.xlsx')

# 절대경로 설정하고 저장하기
# raw_data.to_excel(excel_writer='C:/Users/pmw72/test/sample.xlsx')

In [141]:
# CSV 파일로 저장하기

df_need.to_csv('New_School.csv', mode='a', header=True, encoding='cp949')

#

In [142]:
df_need.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3857 entries, 0 to 3856
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학교명     3857 non-null   object
 1   구       3841 non-null   object
 2   주소      3841 non-null   object
dtypes: object(3)
memory usage: 90.5+ KB