In [5]:
## 1. 배달 시간 데이터 만들기
#아래의 데이터는 A,B,C 식당의 배달 시간을 나열한 것이다. 이를 이용하여 평균 배달 시간을 구해보자.

In [6]:
food_a = [20,21,23,22,26,28,35,35,41,42,43,45,44,45,46,47,47,46,47,58,58,59,60,56,57,57,80]
food_b = [5,6,11,13,15,16,20,20,21,23,22,27,27,30,30,32,36,37,40,40,43,44,45,51,54,70,600]
food_c = [5,5,5,12,10,11,20,20,20,20,20,21,20,30,32,31,31,31,36,40,40,51,61,51,61,61,70]

In [7]:
import numpy as np

food_a_mean = np.mean(food_a)
food_b_mean = np.mean(food_b)
food_c_mean = np.mean(food_c)

print(food_a_mean, '{0:.2f}'.format(food_b_mean), round(food_c_mean, 2))

44.0 51.04 30.19

In [8]:
##1. 중앙값 구하기

food_a_median = np.median(food_a)
food_b_median = np.median(food_b)
food_c_median = np.median(food_c)

print(food_a_median, food_b_median, food_c_median)
print(food_a_mean, '{0:.2f}'.format(food_b_mean), round(food_c_mean,2))

45.0 30.0 30.0
44.0 51.04 30.19

In [9]:
# 현재 A, C 식당의 평균과 중앙값의 차이는 크지 않지만 B식당의 평균과 중앙값의 차이는 크다.
# 이것으로 알 수 있는 것은 B식당에 이상치(정상적이지 않은 값)가 존재한다.

In [11]:
#1.3 데이터 요약

# > pandas 에 series, dataframe에서 describe() 함수를 지원한다. 이함수는 객체 수(count), 평균(mean), 표준편차(std),
# 사분위수(min~max) 값을 확인 할 수 있다.

In [12]:
import pandas as pd
import numpy as np



a_Series = pd.Series(food_a)
b_Series = pd.Series(food_b)
c_Series = pd.Series(food_c)

In [13]:
print(type(food_a))
#Series로 변환

import pandas as pd

food_a_series = pd.Series(food_a)

#타입 확인
print(type(food_a_series))

<class 'list'>
<class 'pandas.core.series.Series'>

In [14]:
food_a_series.describe()

count    27.000000
mean     44.000000
std      14.509944
min      20.000000
25%      35.000000
50%      45.000000
75%      56.500000
max      80.000000
dtype: float64

In [ ]:
# 1. 전체 배달 건수는 27건 (count- 개수)
# 2. 평균 배달시간은 44분 (mean- 평균)
# 3. 보통 14분 정도 더 걸릴수 있다. (std- 표준편차)
# 4. 최소 20 에서 최대 80분이 소요되며 25%~75%상의 값이 10정도 차이가 나고
# 평균과 표준편차의 값으로 유추할 수 있는 것은 25 ~ 75% 사이에 값이 포진되어 있다는 것을 알 수 있다. (min~max - 사분위수)


# ** 평균이 44 이고 표준편차가 14 이므로 30 ~ 58 사이에 값이 포진 댐

In [15]:
# 함수화 선언

In [18]:
# def 함수 정의 시 앞 부분에 선언
# getDescribe : 함수이름
# (in_list) : 입력 데이터

def getDescribe(in_list):
  # series 변환
  conv_series = pd.Series(in_list)
  # 정보 확인
  print(conv_series.describe())
  # 값 전달
  return conv_series.describe()


food_b_series = getDescribe(food_b)

count     27.000000
mean      51.037037
std      110.789295
min        5.000000
25%       20.000000
50%       30.000000
75%       41.500000
max      600.000000
dtype: float64

In [20]:
# DataFrame 만들기


df_food = pd.DataFrame()
type(df_food)

pandas.core.frame.DataFrame

In [23]:
df_food['foodA']=getDescribe(food_a)
df_food['foodB']=getDescribe(food_b)
df_food['foodC']=getDescribe(food_c)


df_food

count    27.000000
mean     44.000000
std      14.509944
min      20.000000
25%      35.000000
50%      45.000000
75%      56.500000
max      80.000000
dtype: float64
count     27.000000
mean      51.037037
std      110.789295
min        5.000000
25%       20.000000
50%       30.000000
75%       41.500000
max      600.000000
dtype: float64
count    27.000000
mean     30.185185
std      18.859882
min       5.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      70.000000
dtype: float64

           foodA       foodB      foodC
count  27.000000   27.000000  27.000000
mean   44.000000   51.037037  30.185185
std    14.509944  110.789295  18.859882
min    20.000000    5.000000   5.000000
25%    35.000000   20.000000  20.000000
50%    45.000000   30.000000  30.000000
75%    56.500000   41.500000  40.000000
max    80.000000  600.000000  70.000000

In [ ]:
# dataframe에 열 추가 방법

# dataframe_name['추가할 열 이름'] = data