In [1]:
#EDA 탐색적 데이터 분석

In [5]:
import pandas as pd

file_path ='../python-data-analysis-master/data/chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')

# read_csv 함수로 데이터 프레임형태로 불러옴

In [7]:
print(chipo.shape)     # shape 는 몇행, 몇열인지 알려줌
print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")
print(chipo.info())

(4622, 5)
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [12]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [9]:
# chipo 는 맥도널드 다음으로 유명한 가게
# 앞에 0~4 는 index
# order_id 는 주문번호
# quantity 는 주문량
# item_name 는 음식이름
# choice_description 는 토핑
# item_price 는 음식가격

In [10]:
chipo.describe()    # 요약통계 보여줌

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [14]:
print(chipo.columns)
print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")
print(chipo.index)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
RangeIndex(start=0, stop=4622, step=1)

In [15]:
chipo['order_id'] = chipo['order_id'].astype(str)
print(chipo.describe())

#칩포에서 오더아이디를 int형 타입에서 str(object) 타입으로 변경
#택배에서 송장번호는 더하거나 빼도 의미가 없으니까 문자형으로...

          quantity
count  4622.000000
mean      1.075725
std       0.410186
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

In [ ]:
# 수치형 데이터를 검색할 떄는 describe 를 사용한다
# 범주형 데이터를 검색할 때는 unique 를 사용한다

In [17]:
print(len(chipo['order_id'].unique()))  # id 의 갯수를 출력
print(len(chipo['item_name'].unique()))   # name의 갯수를 출력

4622
50