In [15]:
# Data Preparation  데이터 전처리

%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

file_path ='../python-data-analysis-master/data/chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')

In [91]:
#***** 변환하는 법 , 형 변환 하는법
print('$16.11')
print('$16.77' [1:])

#인덱스 1부터 불러와서 앞에 달러 표시를 없애버림 ㄷㄷ 천재적

print()
print(type('$16.11'))

float('$16.11'[1:])


### 람다 알아보기

$16.11
16.77

<class 'str'>

16.11

In [78]:
# object, str 같은 형식의 데이터를 int 형으로 변환 한다

In [17]:
# column 단위 데이터에 apply 함수로 전처리를 적용한다

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [18]:
# item_price 에 원래는 $ 표시가 있고 object 타입이었는데..
# int 형 타입으로 변환 되었다.

In [ ]:
'''
탐색적 분석

1) 주문당 평균 계산금액 출력하기
2) 한 주문에 10달러 이상 사용한 주문의 id들 출력하기
3) 각 아이템의 가격 구하기
4) 가장 비싼 주문에서 item이 몇개 팔렸는지 구하기
5) Veggie Salad bowl 이 몇 번 주문되었는지 구하기
6) chicken bowl 을 2개 이상 주문한 주문 횟수 구하기

'''

In [37]:
# 1. 주문당 평균 계산금액 출력하기

In [38]:
Order_AVG = chipo.groupby('order_id')['item_price'].sum().mean()

In [39]:
print(Order_AVG)

18.811428571428568

In [92]:
# 2. 한 주문에 10달러 이상 사용한 주문의 id들 출력하기

In [94]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [127]:
Gid =  chipo.groupby('order_id').sum()
Gid.head()

          quantity  item_price
order_id
1                4       11.56
2                2       16.98
3                2       12.67
4                2       21.00
5                2       13.70

In [130]:
Gid_D10 = Gid[Gid.item_price >= 10]

In [132]:
print(Gid_D10[:10])

          quantity  item_price
order_id
1                4       11.56
2                2       16.98
3                2       12.67
4                2       21.00
5                2       13.70
6                2       17.50
7                2       15.70
8                2       10.88
9                3       10.67
10               2       13.20

In [136]:
print(Gid_D10.index.values)

[   1    2    3 ... 1832 1833 1834]

In [138]:
## 3. 각 아이템의 가격 구하기

In [141]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [181]:
food = chipo.groupby('item_name').sum()
food.head(10)

                       order_id  quantity  item_price
item_name
6 Pack Soft Drink         52322        55      356.95
Barbacoa Bowl             53972        66      672.36
Barbacoa Burrito          74718        91      894.75
Barbacoa Crispy Tacos      5613        12      120.21
Barbacoa Salad Bowl        9708        10      106.40
Barbacoa Soft Tacos       18725        25      250.46
Bottled Water            175944       211      302.56
Bowl                        472         4       29.60
Burrito                    1550         6       44.40
Canned Soda               76396       126      137.34

In [150]:
AQ = food.quantity.values

In [154]:
print(AQ)

[ 55  66  91  12  10  25 211   4   6 126 351  71  60   8   1   6  40 761
 591  50   9 123 120 230 130 506   1  23  18  45  50  33  25   2  20  29
   2 110 221 386  36   4  31  56  87  97   1   6  18   8]

In [175]:
AP = food.item_price

In [176]:
print(AP)

item_name
6 Pack Soft Drink                         356.95
Barbacoa Bowl                             672.36
Barbacoa Burrito                          894.75
Barbacoa Crispy Tacos                     120.21
Barbacoa Salad Bowl                       106.40
Barbacoa Soft Tacos                       250.46
Bottled Water                             302.56
Bowl                                       29.60
Burrito                                    44.40
Canned Soda                               137.34
Canned Soft Drink                         438.75
Carnitas Bowl                             736.71
Carnitas Burrito                          597.83
Carnitas Crispy Tacos                      77.96
Carnitas Salad                              8.99
Carnitas Salad Bowl                        66.34
Carnitas Soft Tacos                       375.94
Chicken Bowl                             7342.73
Chicken Burrito                          5575.82
Chicken Crispy Tacos                      472.13
Chicken Salad                              81.09
Chicken Salad Bowl                       1228.75
Chicken Soft Tacos                       1108.09
Chips                                     494.34
Chips and Fresh Tomato Salsa              361.36
Chips and Guacamole                      2201.04
Chips and Mild Fresh Tomato Salsa           3.00
Chips and Roasted Chili Corn Salsa         67.85
Chips and Roasted Chili-Corn Salsa         43.02
Chips and Tomatillo Green Chili Salsa     132.75
Chips and Tomatillo Red Chili Salsa       147.50
Chips and Tomatillo-Green Chili Salsa      78.87
Chips and Tomatillo-Red Chili Salsa        59.75
Crispy Tacos                               14.80
Izze                                       67.80
Nantucket Nectar                           98.31
Salad                                      14.80
Side of Chips                             185.90
Steak Bowl                               2260.19
Steak Burrito                            3851.43
Steak Crispy Tacos                        357.34
Steak Salad                                35.66
Steak Salad Bowl                          343.59
Steak Soft Tacos                          536.05
Veggie Bowl                               867.99
Veggie Burrito                            934.77
Veggie Crispy Tacos                         8.49
Veggie Salad                               50.94
Veggie Salad Bowl                         182.50
Veggie Soft Tacos                          73.96
Name: item_price, dtype: float64

In [177]:
Menu_P = AP/AQ

In [178]:
print(Menu_P)

item_name
6 Pack Soft Drink                         6.490000
Barbacoa Bowl                            10.187273
Barbacoa Burrito                          9.832418
Barbacoa Crispy Tacos                    10.017500
Barbacoa Salad Bowl                      10.640000
Barbacoa Soft Tacos                      10.018400
Bottled Water                             1.433934
Bowl                                      7.400000
Burrito                                   7.400000
Canned Soda                               1.090000
Canned Soft Drink                         1.250000
Carnitas Bowl                            10.376197
Carnitas Burrito                          9.963833
Carnitas Crispy Tacos                     9.745000
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.398500
Chicken Bowl                              9.648791
Chicken Burrito                           9.434552
Chicken Crispy Tacos                      9.442600
Chicken Salad                             9.010000
Chicken Salad Bowl                        9.989837
Chicken Soft Tacos                        9.234083
Chips                                     2.149304
Chips and Fresh Tomato Salsa              2.779692
Chips and Guacamole                       4.349881
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        2.950000
Chips and Roasted Chili-Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     2.950000
Chips and Tomatillo Red Chili Salsa       2.950000
Chips and Tomatillo-Green Chili Salsa     2.390000
Chips and Tomatillo-Red Chili Salsa       2.390000
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.390000
Salad                                     7.400000
Side of Chips                             1.690000
Steak Bowl                               10.227104
Steak Burrito                             9.977798
Steak Crispy Tacos                        9.926111
Steak Salad                               8.915000
Steak Salad Bowl                         11.083548
Steak Soft Tacos                          9.572321
Veggie Bowl                               9.976897
Veggie Burrito                            9.636804
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.138889
Veggie Soft Tacos                         9.245000
Name: item_price, dtype: float64

In [182]:
# 각 아이템의 가격을 계산 (다른방법으로..)

In [186]:
chipo_one_item = chipo[chipo.quantity == 1]
price_per_item = chipo_one_item.groupby('item_name').min()
price_per_item.sort_values(by = 'item_price', ascending = False)[:10]

,order_id,quantity,choice_description,item_price
item_name,,,,
Steak Salad Bowl,250,1,"[Fresh Tomato Salsa, Lettuce]",9.39
Barbacoa Salad Bowl,501,1,"[Fresh Tomato Salsa, Guacamole]",9.39
Carnitas Salad Bowl,468,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.39
Carnitas Soft Tacos,103,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
Carnitas Crispy Tacos,230,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.99
Steak Soft Tacos,4,1,"[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream]]",8.99
Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
Carnitas Bowl,17,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",8.99
Barbacoa Soft Tacos,26,1,"[Fresh Tomato Salsa, [Black Beans, Cheese, Let...",8.99
Barbacoa Crispy Tacos,75,1,"[Fresh Tomato Salsa, Guacamole]",8.99