In [2]:
import pandas as pd

path = '../data/bicycle/sample_NoNA.csv'


df = pd.read_csv(path, encoding='cp949')

In [5]:
df.describe()

              cty          hwy
count  226.000000   229.000000
mean    29.588496   115.135371
std    112.855084   932.040957
min    -50.000000    12.000000
25%     14.000000    18.000000
50%     17.000000    25.000000
75%     19.000000    28.000000
max    999.000000  9999.000000

In [ ]:
# Desctibe 로 알수 있는건 도심연비와 고속 연비의 개수가 다른것으로 봐서 결측치가 존재한다.
# 평균연비를 보면 도심연비는 29이고, 고속연비는 115로 이상치가 존재하는 것을 알수 있다.
# 도심연비의 최소값이 음수이고, 최대값이 100을 넘는 수치 그리고 사분위수에 비해 많은 차이가
# 나는것을 봐서 이상치가 존재함을 알 수 있다.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   癤풻lass  219 non-null    object
 1   cty     226 non-null    float64
 2   hwy     229 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.6+ KB