In [1]:
import pandas as pd

# read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path = '../python-data-analysis-master/data/chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')

In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#데이터 전처리 Part (숫자가 아닌 object 를 변환하고자)

In [5]:
print(chipo.info())
print('ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ')
chipo['item_price'].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [6]:
# column 단위 데이터에 apply 함수로 전처리를 적용합니다.

chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x[1:]))
chipo.describe()


'''
# 칩포라는 데이터프레임안에서 item_price를 선택을 하고
# 어플라이라는 함수를 사용해서 람다라는 함수를 적용한다
'''

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000